.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.app-container {
  display: flex;
  flex: 1 1 auto;
  min-height: 0;
  overflow: hidden;
}

.panel {
  overflow: hidden;
  position: relative;
}

.left-panel {
  width: 300px; /* Initial width */
  min-width: 150px;
  max-width: 60%;
}

.splitter {
  width: 5px;
  background-color: transparent;
  cursor: col-resize;
}

.right-panel {
  flex: 1;
  position: relative;
  overflow: hidden !important;
}

app-hamburger {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}

app-toolbar {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 10;
}

.status-bar {
  height: 24px;
  line-height: 32px;
  padding: 0 12px;
  background-color: rgb(236, 236, 236);
  border-top: 1px solid #ccc;
  font-family: 'Consolas', 'Courier New', monospace;
  font-size: 0.74rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status-message i {
  vertical-align: middle;
  margin-right: -4px;
  font-size: .9rem;
}

.status-message.invalid {
  color: red;
}

/* Dark theme */
:host-context(.dark-theme) .splitter,
:host-context(.dark-theme) .left-panel,
:host-context(.dark-theme) .right-panel{
  background-color: #333;
}

:host-context(.dark-theme) .status-bar{
  background-color: #212121;
  border-top: 1px solid rgb(77, 77, 77);
  color: #eee;
}

